@page "/weeklycooklayout"

@using WeeklyCook.Data
@inject RecipeService RecipeServices


<h3>Weekly Cooking for the Weak</h3>

<button class="randomButton" @onclick="@(() => RandomRecipeButton(3))">
    Random Recipes for the week
</button>

<button class="randomButton" @onclick="RandomRecipeButton2Async">
    Random Recipes for the week ASYNC!
</button>

<input type="number" value="3" id="numberOfReceipes" name="numberOfReceipes" class="numberOfReceipes" onfocus="RandomRecipeButton(this.id)" />


@if (recipes == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            @foreach (var recipe in recipes)
            {
                <tr>
                    <th>@recipe.Name</th>
                </tr>

            }
        </thead>
    </table>
}


@code {
    private Recipe[] recipes;
    

    protected override async Task OnInitializedAsync()
    {
        recipes = await RecipeServices.GetTestCodeToDisplay(3);
        
    }
    private void RandomRecipeButton(int number)
    {
        recipes = RecipeServices.GetTestCodeToDisplay2(number);

    }
    private async void RandomRecipeButton2Async()
    {
        recipes = await RecipeServices.GetTestCodeToDisplay(3);
        
    }

}
