@page "/weeklycooklayout"

@using WeeklyCook.Data
@inject RecipeService RecipeServices


<h3>Weekly Cooking for the Weak</h3>

<button class="randomButton" onclick="RandomRecipeButton">
    Random Recipes for the week
</button>

@if (recipes == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            @foreach (var recipe in recipes)
            {
                <tr>
                    <th>@recipe.Name</th>
                </tr>

            }
        </thead>
    </table>
}


@code {
    private Recipe[] recipes;

    protected override async Task OnInitializedAsync()
    {
        recipes = await RecipeServices.GetTestCodeToDisplay(3);

    }
    private async void RandomRecipeButton()
    {
        recipes = await RecipeServices.GetTestCodeToDisplay(3);
    }

}
